@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jennifer Croft<br />
    <br />
  
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:Support@example.com">strawberries73@outlook.com</a><br />
    <strong>Github:</strong> <a href="mailto:Marketing@example.com">https://github.com/strawberries73</a>
</address>