@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Medical Marajuana and Hemp Application</h1>
    <p class="lead">The purpose of this project is to assign QR codes to each clone so that it can be tracked all the way to sale.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This project includes:</h2>
        <p>
            All the variable names for each type and the different products offered to consumers for medical use.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Checking out local sites is a good way to learn more about the medical benefits and effects of marajuan use.</p>
        <p><a class="btn btn-default" href="https://fr.leafly.ca/products">Learn more &raquo;</a></p>
    </div>
    
</div>